.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.timeform {
  float: right;
}
@media (max-width: 700px) {
  .tbl {
    object-fit: contain;
  }
.MuiInputBase-input{
  width: 50%;
}
  .topitem {
    display: block;
  }
}
